{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Football Match Organizer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		{% include 'partials/navbar.html' %}
		{% include 'partials/page_header.html' %}
        {% block content %}
		{% endblock %}
        <footer class="bg-gray-800 text-white py-6">
            <div class="container mx-auto px-4 text-center">
                <p class="text-sm">&copy; 2023 Football Match Organizer. All rights reserved.</p>
                <div class="mt-2">
                    <a href="/privacy-policy" class="text-gray-400 hover:text-white mx-2">Privacy Policy</a>
                    <a href="/terms-of-service" class="text-gray-400 hover:text-white mx-2">Terms of Service</a>
                    <a href="/contact" class="text-gray-400 hover:text-white mx-2">Contact Us</a>
                </div>
            </div>
        </footer>
        <!-- TOASTR scripts -->
         	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" rel="stylesheet">
	{% if messages %}
	{% for message in messages %}
	{% if message.tags == 'success'%}
	<script type="text/javascript">toastr['success']('{{ message }}');</script>
	{% elif message.tags == 'info' %}
	<script type=text/javascript>toastr['info']('{{ message }}')</script>
	{% elif message.tags == 'warning' %}
	<script type=text/javascript>toastr['warning']('{{ message }}')</script>
	{% elif message.tags == 'error' %}
	<script type=text/javascript>toastr['error']('{{ message }}')</script>
	{% endif %}
	{% endfor %}
	{% endif %}
	</body>
</html>
