{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto px-4 py-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for team in teams %}
                    <div class="bg-white shadow-md rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-lg">
                    <img class="w-full h-48 object-cover" src="{{team.team_logo.url}}" alt="Team Logo">
                    <div class="p-4">
                        <h2 class="text-xl font-bold mb-2">{{team.team_name}}</h2>
                        <p class="text-gray-600">Location: {{team.location}}</p>
                        <p class="text-gray-600">Coach: {{team.coach_name}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="my-8 bg-slate-100 p-6 rounded-lg relative text-center min-h-48">
                <div class="absolute inset-0">
                    <img class="w-full h-full object-cover opacity-60 rounded-lg" src="{% static 'images/league.jpeg' %}" alt="Register Team">
                </div>
                <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center rounded-lg">
                    <h2 class="text-2xl font-bold text-white mb-4">Register Your Team Today!</h2>
                    <p class="text-white mb-4">Getting started is as simple as one, two, three. Join the league and showcase your team's talent!</p>
                    <a href="{% url 'register' %}" class="bg-slate-800 text-white px-6 py-2 rounded-lg shadow-md hover:bg-slate-900 transition duration-300">Get Started</a>
                </div>
            </div>
            <div class="my-8">
                <h2 class="text-2xl font-bold text-center mb-6">Our Partners</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-6 items-center">
                    <div class="flex justify-center">
                        <img class="h-16 object-contain" src="{% static 'images/partner1.png' %}" alt="Partner 1">
                    </div>
                    <div class="flex justify-center">
                        <img class="h-16 object-contain" src="{% static 'images/partner2.jpeg' %}" alt="Partner 2">
                    </div>
                    <div class="flex justify-center">
                        <img class="h-16 object-contain" src="{% static 'images/partner3.jpeg' %}" alt="Partner 3">
                    </div>
                    <div class="flex justify-center">
                        <img class="h-16 object-contain" src="{% static 'images/partner4.png' %}" alt="Partner 4">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}