{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto px-4 py-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for team in teams %}
        <div
            class="bg-white shadow-md rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-lg">
            <img class="w-full h-48 object-cover" src="{{team.team_logo.url}}" alt="Team Logo">
            <div class="p-4">
                <h2 class="text-xl font-bold mb-2">{{team.team_name}}</h2>
                <p class="text-gray-600">Location: {{team.location}}</p>
                <p class="text-gray-600">Coach: {{team.coach_name}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}